<div class="flex flex-row sticky top-0 z-20">
    <div class="m-6 flex flex-row items-center flex-grow">
        <a href="https://bdp.de">
            <img src="bundeszeichen.png" class="h-12 pr-3 object-scale-down border-r-2 border-white" />
        </a>
        <p class="pl-3 font-immenhausen-regular text-bdp-yellow text-5xl select-none">Wildgänse Leer</p>
    </div>
    <div class="m-6 flex flex-row items-center">
        @foreach (NavMenuItem item in _menuItems)
        {
            <div class="dropdown dropdown-hover">
                <div tabindex="0" role="button" class="ml-4 font-immenhausen-regular text-white hover:text-bdp-yellow text-2xl cursor-pointer select-none btn btn-ghost">@item.TopName</div>
                <ul tabindex="0" class="menu dropdown-content z-[1] menu p-2 shadow w-52">
                    @foreach (string subItem in item.SubItemNames)
                    {
                        <li><a class="font-immenhausen-regular text-white hover:text-bdp-yellow">@subItem</a></li>
                    }
                </ul>
            </div>
        }
    </div>
</div>