<div class="flex flex-row sticky">
    <div class="m-6 flex flex-row items-center flex-grow">
        <a href="https://bdp.de">
            <img src="bundeszeichen.png" class="h-12 pr-3 object-scale-down border-r-2 border-white" />
        </a>
        <p class="pl-3 font-immenhausen-regular text-bdp-yellow text-5xl select-none">Wildgänse Leer</p>
    </div>
    <div class="m-6 flex flex-row items-center">
        <p class="pl-4 font-immenhausen-regular text-white text-3xl hover:text-bdp-yellow cursor-pointer select-none">Home</p>
        <p class="pl-4 font-immenhausen-regular text-white text-3xl hover:text-bdp-yellow cursor-pointer select-none">Pfadfinden</p>
        <p class="pl-4 font-immenhausen-regular text-white text-3xl hover:text-bdp-yellow cursor-pointer select-none">Der Stamm</p>
        <p class="pl-4 font-immenhausen-regular text-white text-3xl hover:text-bdp-yellow cursor-pointer select-none">Gruppen</p>
        <p class="pl-4 font-immenhausen-regular text-white text-3xl hover:text-bdp-yellow cursor-pointer select-none">Förderverein</p>
        <p class="pl-4 font-immenhausen-regular text-white text-3xl hover:text-bdp-yellow cursor-pointer select-none">Padsöker</p>
    </div>
</div>