@page "/404"
<PageTitle>404</PageTitle>

<div class="flex h-screen">
    <div class="m-auto flex flex-col items-center">
        <p class="font-immenhausen-regular text-8xl text-bdp-red">404</p>
        <p class="font-immenhausen-regular text-4xl text-white">Ups, da hast du dich wohl verlaufen</p>
        <p class="font-immenhausen-regular text-4xl text-white">Dieser Pfad konnte nicht gefunden werden</p>
    </div>   
</div>
